{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<h1 class="main-title">Вход на сайт</h1>

<form method="post" class="login-form">
    {% if error %}
        <div style="color:red;">{{ error }}</div>
    {% endif %}

    {% csrf_token %}
    <label for="username">Имя пользователя:</label>
    <input class="name-input" id="username" type="text" name="username">
    <label for="password">Пароль:</label>
    <input type="password" name="password">
    <input type="submit" value="Войти" class="btn btn-post">
</form>
{% endblock %}
