/*GLOBAL*/

body {
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Cormorant Garamond', serif;
    margin: 0;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    margin: 0;
}

.page-header {
    background-image: url('../images/flower_pattern.png');
    height: 140px;
    padding: 20px 20px 20px 70px;
}

.header-title {
    color: #ffffff;
    font-size: 50px;
    text-decoration: none;
    text-shadow: 1px 1px #d977fa, -1px -1px #140a18;
}


.btn{
    color: #190B21;
    background: #fff;
    border: 3px solid #190B21;
    font-size: 17px;
    padding: 7px 12px;
    font-weight: 800;
    margin: 7px 0;
    margin-right: 12px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Playfair Display SC', serif;
    min-width: 120px;
}

.btn:hover, .btn:active {
  color:#fff;
  background:#190B21;
}


.top-menu {
    float: right;
    margin-top: 25px;
}

h1 {
    font-family: 'Playfair Display SC', serif;
}

.post-author{
    margin: 0;
    font-style: italic;
    font-weight: 600;
    color: #76009C;
}


.post-date {
    color: #777575;
    font-weight: 600;
    font-style: italic;
    font-size: 17px;
}

.post-title{
    color: #190B21;
    font-style: italic;
    font-size: 30px;
}

.post {
    margin-bottom: 55px;
    margin-top: 15px;
    margin-left: 70px;
    margin-right: 80px;
    font-size: 20px;
}

.create-post{
    margin-left: 70px;
    margin-right: 300px;
}
.new-post{
    color: #190B21;
    font-size: 30px;

}
.post-form input{
    width: 100%;

    
}
.post-form textarea {
    width: 100%;
}

.main-title{
    text-align: center;
}

.registation-form {
    font-family: 'Cormorant Garamond', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
}

.login-form{
    font-family: 'Cormorant Garamond', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
}

.btn-post{
    width: 100%;
}

.profile-user{
    font-family: 'Playfair Display SC', serif;
    font-size: 30px;
    font-style: italic;
    color: #190B21;
    font-weight: 700;
}

.myposts{
    margin-top: 20px;
    font-style: italic;
}