/*GLOBAL*/

body {
    margin: 0;
    padding: 0;
}

p {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}


.page-header {
    background-image: url('../images/flower_pattern.png');
    height: 140px;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 50px;
    text-decoration: none;
    text-shadow: 1px 1px #d977fa, -1px -1px #140a18;
}

.header_add_button {
    flex: 1 1 auto;
    margin: 10px;
    padding: 20px;
    border: 2px solid #f7f7f7;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow:hidden;
    transition: .3s;}
    
.header_add_button:after {
        position: absolute;
        transition: .3s;
        content: '';
        width: 0;
        left: 50%;
        bottom: 0;
        height: 3px;
        background: #f7f7f7;
      }


.content {
    margin-left: 40px;
    margin-right: 100px;
}

h1, h2, h3, h4 { 
    font-family: 'Playfair Display SC', serif;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
.main-title {
    text-align: center;
    margin-bottom: 40px;
}
.registation-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
}



.icon_note {
    width: 50px;
    height: 50px;
}
