<html>
    <head>
        <title>Hot girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Girls blog</a></h1>
        </div>

        <div>
            <p>published: 12.12.12</p>
            <h2><a href="">First post</a></h2>
            <p>Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
        </div>


        <div>
            <p>published: 13.12.12</p>
            <h2><a href="">Second post</a></h2>
            <p>Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
        </div>
    </body>
</html>